{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: auto; width: auto; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Symfony_Léo/e-commerce/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Symfony_Léo/e-commerce/templates/home/index.html.twig</code></li>
        <li>Your <a href="{{ path('app_login') }}">login</a> page at <code>C:/Symfony_Léo/e-commerce/templates/security/login.html.twig</code></li>
        <li>Your <a href="{{ path('app_register') }}">registration</a> page at <code>C:/Symfony_Léo/e-commerce/templates/registration/register.html.twig</code></li>
        <li>Your <a href="{{ path('app_category') }}">categories</a> page at <code>C:/Symfony_Léo/e-commerce/templates/category/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
